@model IEnumerable<ModelProject.Models.Candidate>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CandidateNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NativeLanguage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LandlineNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryOfResidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateOfResidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerritoryOfResidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceOfResidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TownOfResidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityOfResidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoIdType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoIdIssueDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NativeLanguage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LandlineNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryOfResidence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateOfResidence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerritoryOfResidence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceOfResidence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TownOfResidence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityOfResidence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoIdType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoIdIssueDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
